@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f7f5f5;
  overflow: auto;
}

header {
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}

.navbar {
  padding: 0;
}

nav .navbar {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  color: #fff;
}

.navbar .logo {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.navbar .mobile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-links {
  top: 0;
  left: 0;
  position: absolute;
  background: #6070ffa9;
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin-left: -100%;
  transition: all 0.5s ease;
}

.nav-links ul {
  margin-top: 20px;
  padding: 20px;
}

.nav-links ul li {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0;
}

.show-menu {
  margin-left: 0;
  position: fixed;
}

.headline {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 0 0 0 120px;
  margin-bottom: 6em;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.personal-info {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 25px;
}

.personal-info h1 {
  padding: 10px 35px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.personal-info p {
  padding: 0 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 10px;
}

.personal-info ul {
  display: flex;
}

.personal-info .socail-media {
  padding: 10px 0 0 30px;
}

.socail-media h3 {
  color: #7f8cff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0 15px;
}

.socail-media .social-icon {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.socail-media .social-icon li {
  padding: 10px;
}

.works {
  padding: 25px;
  margin-bottom: 6em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px;
  gap: 7rem;
}

.works-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.popup .works-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  margin: 13px;
}

.banner img {
  width: 100%;
  height: 100%;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.project-title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.outline ul {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.project-content .outline li {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.outline .dot {
  height: 10px;
  width: 10px;
  margin-top: 5px;
  background-color: #c1c7d0;
  border-radius: 100%;
}

.outline .dev {
  color: #7a869a;
}

.project-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.tags {
  padding-top: 10px;
  padding-bottom: 20px;
}

.tags ul {
  display: flex;
  gap: 10px;
}

.tags .skill {
  background: #ebebff;
  padding: 7px 12px;
  border-radius: 12px;
  color: #6070ff;
  font-size: 14px;
}

.desktop {
  display: none;
}

.action .btn {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.action .btn:enabled {
  background-color: #fff;
  color: #6070ff;
}

.action .btn:disabled {
  background-color: #fff;
  color: #5e6c84;
}

.action .btn:enabled:hover {
  background-color: #6070ff;
  color: #fff;
  transition: all 0.5s ease;
}

.action .btn:enabled:active {
  background-color: #2230d2;
  color: #fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 20%;
}

.aboutme-info {
  padding: 50px;
}

.about-myself .aboutme-info h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0 50px 10px 0;
}

.aboutme-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.aboutme-info .action {
  padding-top: 20px;
}

.aboutme-info .languages {
  margin: 30px 0 30px;
}

.aboutme-info .languages h3 {
  padding: 20px 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.aboutme-info .languages .lang-tag {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutme-info .languages .lang-tag span {
  display: flex;
  gap: 20px;
  background-color: #f2f2f7;
  border-radius: 8px;
  padding: 10px 0 10px;
}

.aboutme-info .languages .lang-tag li h3 {
  padding: 10px 10px;
}

.aboutme-info .languages .lang-tag img {
  padding: 0 10px 0 10px;
  width: 60px;
}

.aboutme-info .others {
  padding: 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.others a {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  padding-right: 30px;
  color: #000;
}

.others .framework {
  font-weight: 500;
  size: 20px;
  line-height: 25px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.works-container .projectDetails p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.closePopup {
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
  color: #a1a5ad;
}

.closePopup:hover,
.closePopup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup hr {
  margin: auto;
  width: 80%;
  border: 1px solid #ebecf0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.popup .action .btnPosition {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.popup .action .btnPosition img {
  width: 12px;
}

.popup {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4c4d50f5;
  backdrop-filter: blur(8px);
  display: none;
}

.popup-show {
  display: block;
  position: fixed;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  background: #6070ff;
  background-image: url('./images/contact-form-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 80px 0 0 0;
  padding: 60px 0 40px;
}

.contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact .contact-info h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding: 30px 0 0 0;
}

.contact .contact-info p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #ebebff;
  padding: 30px;
  text-align: center;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
  border-radius: 9px;
  padding: 12px 7px 12px;
  border: none;
  font-weight: 300;
  font-size: 15px;
}

.contact-form textarea {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% !important;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    height: 0;
    top: 5;
    background: #fff;
    backdrop-filter: blur(0);
    width: 100%;
    align-items: left;
    margin-left: 0%;
    transition: all 0.5s ease;
  }

  .nav-links ul {
    display: flex;
    padding: 0;
  }

  .nav-links ul li {
    margin: 0 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
  }

  .navbar .mobile-menu {
    display: none;
  }

  .navbar a {
    color: #000;
  }

  .headline .personal-info {
    display: flex;
    justify-content: center;
    padding: 20%;
    padding-top: -20px;
    padding-bottom: 50px;
  }

  .personal-info h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 3%;
    color: #172b4d;
  }

  .mobile {
    display: none;
  }

  .headline .personal-info h1 {
    font-size: 55px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-container .works-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .desktop {
    display: block;
  }

  .works-container .banner img {
    width: 80em;
    height: 100%;
  }

  .popup-body .banner {
    width: 100%;
    height: auto;
  }

  .popup .works-container {
    padding: 20px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 20px;
    margin: 90px;
  }

  .popup-body .banner img {
    width: 35rem !important;
    height: auto !important;
  }

  .aboutme-info p {
    padding-right: 20px;
  }

  .works-container .project-content {
    padding: 30px;
  }

  .works-container .project-content p {
    font-weight: 400;
  }

  .about-myself {
    border-radius: 80px 0 0 0;
  }

  .about-myself .aboutme-info {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 122px;
    border-radius: 0 70px 0 0;
  }

  .contact {
    margin-top: -20%;
    background-image: url('./images/contact-form-background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 200px 90px 200px;
  }

  form .action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectDetails {
    display: flex;
    flex-direction: row;
  }

  .popup .projectDetails p {
    float: left;
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .popup hr {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    position: relative;
    padding: 40px 80px 40px 80px;
  }

  .headline {
    background-image: url(./images/Header-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .headline .personal-info {
    padding: 10% 20% 20% 20%;
  }

  .headline .personal-info h1 {
    font-size: 55px;
  }

  .works-container .banner img {
    width: 30em;
    height: 100%;
  }

  .aboutme-info p {
    padding-right: 50px;
  }

  .works .works-container .project-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 90px;
  }

  .about-myself .aboutme-info {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 142px;
  }

  .contact {
    margin-top: -20%;
    background-image: url('./images/contact-form-background.svg');
    background-repeat: no-repeat;
    padding: 50px 280px 90px 280px;
  }

  form .action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .headline .personal-info p {
    padding-right: 270px;
  }

  .contact {
    padding: 50px 420px 90px 420px;
  }
}
