@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f5f5;
    overflow: auto;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
}

.navbar {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar a {
    color: #000;
}

.navbar .logo {
    color: #6070ff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
}

.nav-links ul {
    display: none;
}

.headline {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: #fff;
    border-radius: 0 0 0 120px;
    margin-bottom: 6em;
    background-image: url(./images/header-shapes\ mobile@2x.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.personal-info {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 25px;
}

.personal-info h1 {
    padding: 10px 35px;
    color: #172b4d;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.personal-info p {
    padding: 0 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
}

.personal-info ul {
    display: flex;
}

.personal-info .socail-media {
    padding: 10px 0 0 30px;
}

.socail-media h3 {
    color: #7f8cff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 15px;
}

.socail-media .social-icon {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.social-icon li {
    padding: 10px;
}

.works {
    padding: 25px;
    margin-bottom: 6em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 30px;
    gap: 7rem;
}

.works-container {
    padding: 20px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 20px;
}

.works-container .banner img {
    width: 100%;
    height: 100%;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.project-content .project-title h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
}

.project-content .outline ul {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.project-content .outline li {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.project-content .outline .dot {
    height: 10px;
    width: 10px;
    margin-top: 5px;
    background-color: #C1C7D0;
    border-radius: 100%;
}

.project-content .outline .dev {
    color: #7a869a;
}

.project-content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.project-content .tags {
    padding-top: 10px;
    padding-bottom: 20px;
}

.project-content .tags ul {
    display: flex;
    gap: 10px;
}

.project-content .tags .skill {
    background: #ebebff;
    padding: 7px 12px;
    border-radius: 12px;
    color: #6070ff;
    font-size: 14px;
}

.action .btn {
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #6070ff;
    background-color: #fff;
    border: 1px solid #6070ff;
    border-radius: 8px;
    cursor: pointer;
}

.action .btn:hover {
    background-color;
    : ##6070FF;
    color: #fff;
    transition: all 0.8s ease;
}

.action .btn:enabled {
    background-color: #fff;
    color: #6070ff;
}

.action .btn:disabled {
    background-color: #fff;
    color: #5e6c84;
}

.action .btn:active {
    background-color: #2230d2;
    color: #fff;
}

.about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 20%;
}

.aboutme-info {
    padding: 50px;
}

.about-myself .aboutme-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding: 0 50px 10px 0;
}

.aboutme-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
}

.aboutme-info .action {
    padding-top: 20px;
}

.aboutme-info .languages {
    margin: 30px 0 30px;
}

.aboutme-info .languages h3 {
    padding: 20px 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.aboutme-info .languages .lang-tag {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutme-info .languages .lang-tag span {
    display: flex;
    gap: 20px;
    background-color: #f2f2f7;
    border-radius: 8px;
    padding: 10px 0 10px;
}

.aboutme-info .languages .lang-tag li h3 {
    padding: 10px 10px;
}

.aboutme-info .languages .lang-tag img {
    padding: 0 10px 0 10px;
    width: 60px;
}

.aboutme-info .others {
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.others a {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 30px;
    color: #000;
}

.others .framework {
    font-weight: 500;
    size: 20px;
    line-height: 25px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    background: #6070ff;
    background-image: url('./images/contact-form-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 80px 0 0 0;
    padding: 60px 0 40px;
}

.contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact .contact-info h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    padding: 30px 0 0 0;
}

.contact .contact-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #ebebff;
    padding: 30px;
    text-align: center;
}

.contact .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
    border-radius: 9px;
    padding: 12px 7px 12px;
    border: none;
    font-weight: 300;
    font-size: 15px;
}

.contact-form textarea {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
    }
    .nav-links {
        display: block;
    }
    .nav-links ul {
        display: flex;
    }
    .nav-links ul li {
        margin: 0 20px;
    }
    .mobile-menu {
        display: none;
    }
    .headline .personal-info {
        display: flex;
        justify-content: center;
        padding: 20% 14%;
    }
    .headline .personal-info h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 3%;
        color: #172b4d;
    }
}


/* ─── Media Queries ──────────────────────────────────────────────────────── */

@media screen and (min-width: 768px) {
    .headline .personal-info {
        padding-top: -20px;
        padding-bottom: 50px;
    }
    .headline .personal-info h1 {
        font-size: 55px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
    .grid-container .works-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .about-myself {
        border-radius: 80px 0 0 0;
    }
    .about-myself .aboutme-info {
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 122px;
        border-radius: 0 70px 0 0;
    }
    .aboutme-info p {
        padding-right: 20px;
    }
    .contact {
        margin-top: -20%;
        background-image: url('./images/contact-form-background.svg');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 50px 200px 90px 200px;
    }
    form .action {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        position: relative;
        padding: 40px 80px 40px 80px;
    }
    .headline {
        background-image: url(./images/Header-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    .headline .personal-info {
        padding-top: -20px;
        padding-bottom: 50px;
    }
    .headline .personal-info h1 {
        font-size: 55px;
    }
    .about-myself .aboutme-info {
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 142px;
    }
    .aboutme-info p {
        padding-right: 50px;
    }
    .contact {
        margin-top: -20%;
        background-image: url('./images/contact-form-background.svg');
        background-repeat: no-repeat;
        padding: 50px 280px 90px 280px;
    }
    form .action {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .headline .personal-info p {
        padding-right: 270px;
    }
    .contact {
        padding: 50px 420px 90px 420px;
    }
}