@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f7f5f5;
  overflow: auto;
}

header {
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}

.navbar {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  color: #000;
}

.navbar .logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.nav-links ul {
  display: none;
}

.headline {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 0 0 0 120px;
  margin-bottom: 10em;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.personal-info {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 25px;
}

.personal-info h2 {
  padding: 10px 35px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.personal-info p {
  padding: 0 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 10px;
}

.personal-info .socail-media {
  padding: 10px 0 0 30px;
}

.socail-media h3 {
  color: #7f8cff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0 15px;
}

.socail-media .social-icon {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.social-icon li {
  padding: 10px;
}
